

.ratings__components{
  min-height: 100vh; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  padding-inline: var(--space-5); 
}


.container__component {
  background-image: radial-gradient(
  98.96% 98.96% at 50% 0%, 
    var(--gradient-color-stop-start) 0%, 
    var(--gradient-color-stop-end) 100%
  ); 
  width: min(100%, 41.2rem); 
  padding-inline: var(--space-13); 
  border-radius: clamp(var(--radius-6), 2.5vw, var(--radius-9)); 
}



@supports not(background-image: radial-gradient(
  98.96% 98.96% at 50% 0%, 
   var(--gradient-color-stop-start) 0%, 
   var(--gradient-color-stop-end) 100%
 )) {
  .container__component {
    background-image: -webkit-radial-gradient(
      98.96% 98.96% at 50% 0%, 
      var(--gradient-color-stop-start) 0%, 
      var(--gradient-color-stop-end) 100%
    ); 
    background-image: -moz-radial-gradient(
      98.96% 98.96% at 50% 0%, 
      var(--gradient-color-stop-start) 0%, 
      var(--gradient-color-stop-end) 100%
    ); 
    background-image:-webkit-radial-gradient(
      50% 0%, 
      98.98% 98.96%, 
      var(--gradient-color-stop-start) 0%, 
      var(--gradient-color-stop-end) 100%
    ); 
  }
}


@supports not(padding-inline: var(--space-5)) {
  .container__component {
    padding-left: var(--space-5);
    padding-right: var(--space-5); 
  }
}

@supports not (width: min(100%, 41.2rem))  {
  .container__component {
    width: 100%; 
    max-width: 41.2rem; 
  }
}


/* FEEDBACK COMPONENT ---- BEGINS   */

.star-icon__container {
  margin-block-end: var(--space-17);
  margin-block-start: var(--space-13); 
  width: clamp(40px, 3.5vw, 48px); 
  height: clamp(40px, 3.5vw, 48px); 
  border-radius: 50%; 
  background-color: var(--dark-grey); 
  align-items: center; 
  justify-content:center; 
}


@supports not ((margin-inline-end: var(--space-17)) or (margin-inline-start: var(--space-13))) {
  .star-icon__container {
    margin-top: var(--space-13); 
    margin-bottom: var(--space-17); 
  }
}


.feedback__component-header {
  color: var(--white); 
  font-weight: var(--fw-700); 
  font-size: var(--fs-4); 
  line-height: var(--line-height-snug); 
  margin-block-end: var(--space-4); 
}

@supports not(margin-block-end: var(--space-4)) {
  .feedback__component-header {
    margin-bottom: var(--space-4); 
  }
}



.feedback__component-content {
  color: var(--light-grey); 
  font-weight: var(--fw-400); 
  font-size: var(--fs-1); 
  line-height: var(--line-height-normal); 
  margin-block-end: var(--gap-24); 
}

@supports not(margin-block-end: var(--gap-24)) {
  .feedback__component-content {
    margin-bottom: var(--gap-24); 
  }
}

.feedback__component-btns {
  margin-block-end: var(--space-13); 
  justify-content: space-between; 
  align-items: center; 
}


@supports not(margin-block-end: var(--gap-24)) {
  .feedback__component-btns {
    margin-bottom: var(--space-13); 
  }
}

.btn {
  background-color: var(--dark-grey); 
  color:var(--medium-grey); 
  width: clamp(42px, 3.5vw, 51px); 
  height: clamp(42px, 3.5vw, 51px); 
  border-radius: 50%; 
  cursor: pointer;
  transition-property: background-color, color;  
  transition-duration: 1s, 1s; 
}

.btn span {
  font-weight: var(--fw-700); 
  font-size: var(--fs-1); 
  line-height: var(--line-height-relaxed);
  letter-spacing: var(--letter-spacing-wide);
}

.btn__active{
  background-color: var(--medium-grey); 
  color: var(--white); 
}


.btn__submit {
  color: var(--white);
  background-color: var(--orange); 
  width: 100%; 
  margin-block-end: var(--gap-32); 
  padding-block: var(--gap-12_5); 
  border-radius: var(--radius-7); 
  font-weight: var(--fw-700); 
  font-size: var(--fs-1); 
  text-transform: uppercase; 
  letter-spacing: var(--letter-spacing-widest); 
  cursor: pointer; 
  transition-property: color, background-color; 
  transition-duration: 1s, 2s
}

/* I only want this hover state on devices that have support hover. Mobile devices do not have this hover state.  */
@media (hover: hover) {
  .btn__submit:hover {
    color: var(--orange); 
    background-color: var(--white);
  }

  .btn:hover {
    background-color: var(--orange); 
    color: var(--white); 
  }
}


@supports not((margin-block-end: var(--gap-32)) or (padding-block: var(--gap-12_5))) {
  .btn__submit {
    margin-right: var(--gap-32); 
    padding: var(--gap-12_5) 0; 
  }
}


/* GRATITUDE COMPNENT ---- BEGINS */


.online-payment-illustration__container img {
  margin-inline: auto; 
  margin-block-end: var(--space-13);
  margin-block-start: var(--space-14); 
}


@supports not((margin-inline: auto) or (margin-block-end:var(--space-13)) or (margin-block-start:var(--space-14))) {
  .online-payment-illustration__container img {
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: var(--space-13); 
    margin-top: var(--space-14); 
  }
}


.gratitude__component-message-container {
  background-color: var(--dark-grey); 
  padding-block:var(--space-1); 
  border-radius: var(--radius-7); 
  width: min(85%, 19.3rem); 
  margin-inline:auto; 
  margin-block-end: var(--space-13); 
}

@supports not((margine-inline:auto) or (margin-block-end: var(--space13))) {
  .gratitude__component-message-container {
    width: 85%; 
    max-width: 19.3rem; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: var(--space-13); 
  }
}


.gratitude__component-message {
  color: var(--orange); 
  text-align:center; 
  font-weight: var(--fw-400); 
  font-size: var(--fs-1); 
  line-height: var(--line-height-relaxed); 
}


.gratitude__component-header {
  text-align:center; 
  color: var(--white);
  margin-block-end: var(--space-4); 
  font-weight: var(--fw-700);
  font-size: var(--fs-4); 
  line-height: var(--line-height-snug); 
}

.gratitude__component-content {
  text-align:center; 
  color: var(--light-grey); 
  font-size: var(--fs-1); 
  line-height: var(--line-height-normal); 
  margin-block-end: var(--space-14); 
}


/* Developer */
#developer {
  color: var(--orange);
  font-size: var(--fs-1);
  font-weight: var(--fw-500); 
  margin-top: var(--space-5); 
  line-height: var(--line-height-normal); 
}



